body{
	background-color: #f6f6f6;
	font-family:"Roboto", sans-serif;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #dd4b3b;
	font-family: Georgia, serif;
}

a:hover{
	color: #c04133;
}



header{
	background-color:#fff;
	margin : 0 0 0px 0;
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
}

header .title{
	color:#dd4b3b;
	text-align:left;
	font-family:"Lobster", cursive;
	font-size:45px;
	padding : 20px 0 10px 0;
	width: 300px;
	margin:0px;
	float: left;
}

header .title:hover{
	color: #c04133;
}

footer{
	font-size:12px;
	text-align:center;
	position : fixed;
	bottom :0px;
	width : 100%;
	background-color: #f6f6f6;
	box-shadow: 0 -1px 5px rgba(0,0,0,.2);
}

.inner_text_shadow
{
    text-shadow: 1px 1px white, -1px -1px #444;
}

.wrap{
	width : 1060px;
	margin: 0 auto; 
}

.center-button{
	margin: 0 auto; 
	width  : 300px
}

.center{
	text-align: center;
}

.justify { 
	text-align: justify; 
}

.btn{
	/*position: relative;*/
	display: inline-block;
	padding: 8px 30px;
	margin: 30px 0 0 0;
	min-width: 300px;
	font-size: 15px;
	font-family: Georgia, serif;
	font-weight: 500;
	text-transform: uppercase;
	/*text-shadow: 0 1px 2px rgba(0,0,0,.4);*/
	line-height: 24px;
	letter-spacing: .15em;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #48b0e7;
	color: #fff;
	border: 0;
	border-radius: 3px;
}

.btn:hover{
	background-color: #409bcc;
	color: #fff;
}

.red-btn {
	background-color: #dd4b3b;
}

.red-btn:hover {
	background-color: #c04133;
}

.text-entry{
	/*position: relative;*/
	display: inline-block;
	padding: 7px 10px;
	margin: 5px 0px;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	text-align: left;
	vertical-align: middle;
	cursor: pointer;
	color: #777;
	border: 1px solid #bbbbbb;
	border-radius: 3px;
	background-color : #f6f6f6;
}

.date{
	/*padding: 4px 10px;*/
	font-family:"Roboto", sans-serif;
}

.todo-entry{
	/*position: relative;*/
	display: block;
	padding: 7px 10px;
	margin: 0px;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	text-align: left;
	vertical-align: middle;
}

.todo-entry:hover{
	border-left: 5px solid #409bcc;;
}

.important{
	border-left: 5px solid #dd4b3b;
}

.important:hover{
	border-left: 5px solid #c04133;
}

.completed{
	border-left: 5px solid #eee;
	color: #ccc;
}

.completed>.todo-name>a{
	color: #ccc;
}

.completed:hover{
	border-left: 5px solid #ccc;
}

.completed>.progressbar > div {
	background-color: #ccc; 
	height: 18px;
	border-radius: 3px;
}

.todo-name{
	width:520px;
	float:left;
	cursor: pointer;
}

.todo-name>a{
	color: #777;
}

.completion{
	width: 120px;
	float:left;
	font-size: 15px;
	font-weight: 400;
	text-align: right;
}

.progressbar {
	background-color: #f6f6f6;
	border-radius: 5px;
	border: 1px solid #bbbbbb;
	padding: 2px;
	float: left;
	width : 250px;
	margin: 0 10px;
}

.progressbar > div {
	background-color: #48b0e7; 
	height: 18px;
	border-radius: 3px;
}

.todo-button{
	background-color: #f6f6f6;
	border-radius: 5px;
	border: 1px solid #bbbbbb;
	float: right;
	margin: 0 0 0 5px;
	height: 22px;
	cursor: pointer;
	width : 72px;
	text-align:center;
}

.todo-button:hover{
	background-color: #ccc;
}

.delete-btn{
	background-color: #dd4b3b;
	border: 1px solid #dd4b3b;
	color: #fff;
}

.delete-btn:hover{
	background-color: #c04133;
}

.chkbox{
	display: inline-block;
	cursor: pointer;
	margin: 10px 5px 10px 0;
	border: 1px solid #bbbbbb;
	border-radius: 3px;
	background-color : #f6f6f6;
}

.full-width{
	width:100%;
}

.ninety-width{
	width:97.5%;
}

.half-width{
	width:49.7%;
}

.quarter-width{
	width:47%;
}

.form {
	width : 800px;
	margin : 40px auto;
	background-color : #fff;
	border : 1px solid #bbbbbb;
	border-radius: 10px;
	padding : 30px 20px;
}

.error-msg{
	background-color : #dd4b3b;
	padding : 10px 20px;
	text-align : center;
	color: #fff;
	margin : 10px auto;
}
.container-box{
	margin: 30px 0;
	background-color : #fff;
	border : 1px solid #bbbbbb;
	border-radius: 5px;
	padding : 30px 20px;
}

.third{
	width:295px;
	float :left;
	margin : 30px 10px;
}

.left{
	margin-left:0px;
	float:left;
}

.right{
	margin-right:0px;
	float:right;
}

h1 {
	font-family: Georgia, serif;
	color: gray;
	font-size: 25px;
	text-align: center;
	margin: 0 0 30px 0;
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url(fonts/lobster.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto.woff) format('woff');
}

nav {
	position:relative;
	float:right;
	top:50px;
	right:0px;
}

nav a{
	width: 100px;
	color: #48b0e7;
	margin : 5px 5px;
	padding: 5px 10px;
	font-size: 13px;
	border-bottom: 2px solid #fff;
	/*width: 100px;*/
	text-transform: uppercase;
	/*text-shadow: 0 1px 2px rgba(0,0,0,.4);*/
	line-height: 24px;
	letter-spacing: .15em;
	text-align: center;
	font-family: "roboto", sans-serif;
}

nav a:hover{
	color: #409bcc;
	background-color:#eee;
}
.selected{
	border-bottom: 2px solid #dd4b3b;
}

.banner{
	padding: 60px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 18px;
	font-weight: 200;
	line-height: 36px;
	color: #fff;
	background-color: #1a1a1a;
	background-size: cover;
	background-position: center;
	width: 100%;
	min-width: 1060px;
	height: 400px;
}

.home-banner{
	background-image: url('images/home-banner.jpg');
	height: 400px;
}

.banner-text h2{
	font-weight: 500;
	font-size: 52px;
	line-height: 1em;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
	text-transform: uppercase;
	margin: 30px 0 0px 0;
}

.banner-text p{
	font-size: 30px;
	line-height: 38px;
	font-family: "roboto light"
}

.settings{
	margin: 0 5px 20px;
}

.clear{
	clear:both;
}

hr{
	margin:0px 5px;
	height: 1px;
    color: #ccc;
    background: #ddd;
    font-size: 0;
    border: 0;
}

